@import "./variables.css";

.Intro {
    max-width: min(700px, 100%);
    margin-left: 100px;
}

.Intro .toc-list-outer-cont {
    /* background-color: var(--primary-color); */
}

.Intro .toc-sublist-inner-cont {
    padding: 10px 15px;
    border-radius: 5px;
}

.intro-text p {
    text-align: justify;
    margin-bottom: 10px;
}

@media screen and (max-width: 720px) {
    .Intro {
        margin-left: 0;
    }
}