@import "./variables.css";

.toc-list-inner-cont {
    display: flex;
    font-weight: bold;
}

.toc-sublist-inner-cont {
    display: flex;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
}

.toc-sublist-inner-cont:hover {
    background-color: var(--primary-color-light);
    transition: 0.5s ease-out;
}

.toc-sublist-inner-cont:active {
    background-color: var(--primary-color-very-dark);
    transition: 0.2s ease-in;
}

.toc-list-title-cont {
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.toc-list-title {
    margin-left: 20px;
}

.toc-list-num, .toc-title {
    line-height: 1.2;
}

.toc-title {
    margin-left: 5px;
    color: unset;
    text-align: left;
    text-decoration: none;
}

.toc-title:hover {
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.page-numbers {
    margin-left: 30px;
    font-style: italic;
}

.toc-description {
    margin: 15px 0;
    text-align: justify;
}

.toc-description, .toc-intro-link {
    margin-left: 40px;
}

@media screen and (max-width: 720px) {
    .toc-list-title {
        margin-left: 10px;
    }

    .toc-description, .toc-intro-link {
        margin-left: 4px;
    }    
}